<h1>Sobre</h1>
<p>Bem vindo a minha aplicação de teste, a mesma foi desenvolvida utilizando as ferramentas:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para códigos do lado do servidor </li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para códigos do lado do cliente</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para layout e estilização</li>
</ul>
<p>Para te ajudar a iniciar eu também criei as seguintes informações</p>
<ul>
  <li><strong>Relação de caminhões gravados no banco</strong>. Clicando no link Lista de Caminhões você consegue vizualizar a tabela de caminhões no banco</li>
  <li><strong>Criar Caminhão</strong>. Para criar um caminhão basta preencher e salvar o formulario no link Criar Caminhão</li>
  <li><strong>Editar Caminhão</strong>. Para editar algum caminhão na Lista de Caminhões existem os botões editar e deletar em cada linha é só usar o botão de editar e alterar os dados que necessita no formulario</li>
  <li><strong>Excluir Caminhão</strong>. Para excluir algum caminhão na Lista de Caminhões existem os botões editar e deletar em cada linha é só usar o botão de excluir e confirmar a exclusão</li>
</ul>
